# Automatically created by $QP_ROOT/scripts/module/module_handler.py 
.ninja_deps
.ninja_log
/vortex/u/eginer/qp_toto/quantum_package/src/dft_utils_two_body/print_rsdft_variational_energy
/vortex/u/eginer/qp_toto/quantum_package/src/dft_utils_two_body/write_effective_rsdft_hamiltonian
IRPF90_man
IRPF90_temp
Makefile
Makefile.depend
ao_basis
ao_one_e_integrals
ao_two_e_erf_integrals
ao_two_e_integrals
aux_quantities
becke_numerical_grid
bitmask
davidson
davidson_undressed
density_for_dft
determinants
dft_keywords
dft_utils_in_r
dft_utils_one_e
electrons
ezfio_files
ezfio_interface.irp.f
irpf90.make
irpf90_entities
mo_basis
mo_one_e_integrals
mo_two_e_erf_integrals
mo_two_e_integrals
mpi
nuclei
pseudo
tags
utils
zmq